/* Coolors Exported Palette - coolors.co/011936-465362-82a3a1-9fc490-c0dfa1 */

/* HSL */
$color1: hsla(213%, 96%, 11%, 1);
$color2: hsla(212%, 17%, 33%, 1);
$color3: hsla(176%, 15%, 57%, 1);
$color4: hsla(103%, 31%, 67%, 1);
$color5: hsla(90%, 49%, 75%, 1);

/* RGB */
$color1: rgba(1, 25, 54, 1);
$color2: rgba(70, 83, 98, 1);
$color3: rgba(130, 163, 161, 1);
$color4: rgba(159, 196, 144, 1);
$color5: rgba(192, 223, 161, 1);